# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Environments
.venv/
.venv311/
.env

# Django
/db.sqlite3
/staticfiles/
/media/

# OS/editor
.DS_Store
Thumbs.db
*.swp
*.swo
.idea/
.vscode/

# Local models (too large for GitHub)
ASR_xlsr_Model/

# Logs
*.log


